<% content_for :content do %>
	<p>Hola <%= @order.user.name %>!</p>
	<% if @order.user.orders.size == 1 %>
		<p>¡Gracias por generar tu primera orden! Estamos muy contentos de que te unas y comiences a guardar tus cosas con nosotros.</p>
	<% end %>
	<p>Es muy importante que estés tranquilo que estés tus cosas estén seguras. Es por eso que te enviaremos en breve e-mails confirmando que hemos:</p>
	<ul>
		<li>Confirmado tu pago</li>
		<li>Entregado las cajas</li>
		<li>Pasado a buscar las cajas e items sueltos</li>
		<li>Guardado tus cosas en nuestra bodega</li>
	</ul>
	<p>
		Recuerda que puedes acceder a tus pedidos y tu inventario a través de tu cuenta ingresando en <%= link_to 'www.warehouse.com', root_url %>. 
		Solo tienes que ingresar con tu usuario y contraseña e ir al menú que se encuentre en el vértice derecho de tu pantalla.</p>
<% end %>
<%= render "layouts/email" %>