<!-- Modal -->
<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align:left">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Generar Pago</h4>
      </div>
      <div class="modal-body">
		<p>Realiza la transferencia de <b><%= number_to_currency @order.order_storage_items.sum('price'), precision: 0 %></b> a la siguiente cuenta:</p>
		<ul>
			<li>Banco: XX</li>
			<li>Nº Cuenta Corriente: XXX</li>
			<li>Titular Cuenta: XXX</li>
			<li>RUT: XXXX</li>
			<li>Correo: xxxxx</li>
		</ul>
		<p>Una vez que ya hayas realizado la transferencia en la página de tu banco, debes hacer click en "Transferencia Realizada" y procederemos a verificar la recepción de fondos para enviarte un correo confirmando y coordinar la entrega de las cajas.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		<%= link_to 'Transferencia Realizada', transfer_confirmed_order_path(@order), method: :post, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>