/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/glyphicons-halflings-regular.woff') format('woff'), 
       url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body { 
	padding-top: 60px; 
	font-size:12px;
}

body ul, li, .btn, .form-control { 
	font-size:12px;
}


h1 { font-size: 30px; line-height: 40px; font-weight:lighter }
h2 { font-size: 24px; line-height: 40px; font-weight:lighter }
h3 { font-size: 18px; line-height: 40px; font-weight:lighter }
h4 { font-size: 14px; line-height: 20px; font-weight:lighter }

.center {
	text-align:center;
}

.introduction {
	margin-bottom:20px;
}
.introduction p {
	font-size:20px;
	color:#888;
	font-weight:lighter;
}
.how-it-works {
	background-color:#f7f7f7; 
	height:250px; 
	width:210px;
	margin-bottom:20px;
}
.how-it-works-image {
	background-color:white; 
	border-bottom:white;
}
.how-it-works-text {
	font-size:14px;
	font-weight:bold;
	color:#666;
	text-align:center;
	margin:20px 10px 0px 10px;
}
.know-more {
	font-size:14px;
	font-weight:bold;
	color:#cb39f5;
	text-align:center;
	margin-top:20px;
}
.we-do-the-work {
	width:100%;
	margin-bottom:20px;
	margin-top:20px;
}
.we-do-the-work h2 {
	font-size:34px;
	margin-top:0px;
	color:#333;
}
.we-do-the-work ul{
	margin-left:0px;	
	padding-left:15px;
}
.we-do-the-work ul li{
	font-size:16px;
	color:#666;
	margin-bottom:5px;
}
.pricing h2 {
	font-size:34px;
	margin-top:0px;
	margin-bottom:0px;
}
.pricing h3 {
	font-size:24px;
	margin-top:0px;
	margin-bottom:30px;
}
.pricing p {
	font-size:16px;
}
.pricing ul li {
	font-size:16px;
	color:#666;
	margin-bottom:5px;
}

.pricing-item {
	width:958px;
	height:180px;
	background-color:#f7f7f7; 
	margin:0 auto;
}
.faq-section p {
	color:#999;
}

.safety-col {
	margin-bottom:20px;
}
.circle {
	height:150px;
	width:150px;
	display: inline-block;
  	border: 7px solid #f7f7f7;
}
.safety span {
	margin-top:20px;
	font-size:80px;
}
.safety p {
	margin:0 auto;
	width:200px;
	margin-top:20px;
	font-size:14px;
}
.testimonies {
	
}
.testimonies h3, h4 {
	margin:0px;
	padding:0px;
}
.testimonies p {
	width:270px;
	margin:0 auto;
	margin-top:20px;
	font-weight:bold;
	font-size:14px;
}

.box-details {
	width:200px;
	background-color:#f7f7f7; 
	padding:20px;
	margin:10px;
	display:inline-block;
}
.box-details span.number {
	font-weight:bold;
	font-size:24px;
	display:block;
}

.box-details span.text {
	font-weight:normal;
	font-size:14px;
	display:block;
}

.subscribe {
	margin:0 auto;
	border-bottom: 1px solid #d9d9d9;
	background-color:#f7f7f7;
	padding-top:20px;
	padding-bottom:20px;
	width:1170px;
}
.subscribe p {
	font-weight:bold;
}
.disclaimer {
	margin:0 auto;
	width:1170px;
	padding:20px 20px 20px 20px;
}
.footer-menu{
	margin:0 auto;
	width:1170px;
	text-align:center;
	padding:20px 20px 20px 20px;
	border-bottom: 1px solid #d9d9d9;	
}
.form-actions {
	border-top:1px solid #eee;
	padding-top:10px;
	margin-top:20px;
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:1px solid #eee;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
footer {
	border-top: 1px solid #d9d9d9;
	background-color:#f7f7f7;
}